<div class="pager">
    {% if has_previous %}
    <span class="page"><a href="{% url publish-index-paginated previous %}">&lt; Prev</a></span>
    {% endif %}

    {% if show_first %}
        <span class="page"><a href="{% url publish-index-paginated first %}">1</a></span>
        <span class="ellipsis">...</span>
    {% endif %}
    {% for linkpage in page_numbers %}
        {% ifequal linkpage page %}
            <span class="current">{{ page }}</span>
        {% else %}
        <span class="page"><a href="{% url publish-index-paginated linkpage %}">{{ linkpage }}</a></span>
        {% endifequal %}
    {% endfor %}
    {% if show_last %}
        <span class="ellipsis">...</span>
        <span class="page"><a href="{% url publish-index-paginated last %}">{{ pages }}</a></span>
    {% endif %}
    {% if has_next %}
        <span class="page"><a href="{% url publish-index-paginated next %}">Next &gt;</a></span>
    {% endif %}
</div>
